.formationfavorite {
  color: red;
}

.formations-liste {
  max-width: 500px;
  margin: 20px auto;
  padding: 0 20px;
}

.formations-liste p {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.active {
  background: #dbeafe;
  font-weight: bold;
  color: #2563eb;
}